<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
        background-color: aqua;
        font-size: 100px;
        color: red;
        text-align: center;
        }
        button{
            background-color: aliceblue;
            width: 300px;
            height: 70px;
            color: rgb(19, 20, 20);
            font-size: 30px;
            margin: auto;
            border-radius: 10px;
            margin-top: 40px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
FILE UPLOADE SUCCESSFULL GO TO SERVER AND CHECK IT
<button  type="button" onclick="back()">TURN BACK!</button>
<script>
function back(){
history.back();
}
</script>
</body>
</html>